.main_container {
	height: 68px;
	bottom: auto;
}

.readingNameTitle {
  display: flex;
  height: 32px;
  justify-content: space-between;
  margin: 0 150px;
  padding-top: 68px;
  .left {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin-top: 26px;
  }
  .right {
    display: flex;
    margin-top: 26px;
    .nextSay {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 88px;
      height: 32px;
      border-radius: 2px;
      border: 1px solid #171c4b;
      cursor: pointer;
    }
  }
}

.readingContent {
	.left {

	}
	.mid {

	}
	.right {
		
	}
}