.recite_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.recite_wrapper .background-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.recite_wrapper .fix_header {
  position: fixed;
  height: 68px;
  width: 100%;
  display: flex;
  z-index: 10;
}
.recite_wrapper .fix_header .header_left {
  display: flex;
  align-items: flex-end;
  flex: 1;
  padding-left: 164px;
  background: #fff;
  opacity: 0;
}
.recite_wrapper .fix_header .header_left .main-img {
  width: 85px;
  height: 24px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.recite_wrapper .fix_header .header_left .home-page {
  margin-left: 105px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  line-height: 68px;
  color: #647895;
  cursor: pointer;
}
.recite_wrapper .fix_header .header_left .home-page a {
  color: #647895;
  font-size: 14px;
}
.recite_wrapper .fix_header .header_left .about-us {
  margin-left: 67px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #647895;
  line-height: 68px;
  cursor: pointer;
}
.recite_wrapper .fix_header .header_left .use-msg {
  margin-left: 39px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #647895;
  line-height: 68px;
  cursor: pointer;
}
.recite_wrapper .fix_header .header_left .check {
  position: relative;
  color: #032352;
}
.recite_wrapper .fix_header .header_left .check:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #032352;
  bottom: 0;
  left: 0;
}
.recite_wrapper .choose_header {
  position: absolute;
  top: 68px;
  height: 60px;
  width: 100%;
  align-items: center;
}
.recite_wrapper .choose_header .decoration {
  position: absolute;
  left: 165px;
  top: 33px;
  width: 24px;
  height: 24px;
  background: #FFCC43;
  border-radius: 12px;
}
.recite_wrapper .choose_header .choose_left {
  position: absolute;
  left: 173px;
  top: 40px;
  color: #102F5C;
  font-size: 24px;
}
.recite_wrapper .choose_header .choose_right {
  position: absolute;
  right: 165px;
  top: 40px;
  flex-direction: row-reverse;
  text-decoration: none;
  padding-right: 165;
  line-height: 24px;
  color: #102F5C;
  font-size: 16px;
}
.recite_wrapper .choose_content {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  justify-content: center;
}
.recite_wrapper .progress_audio_content {
  position: absolute;
  left: 189px;
  bottom: 88px;
  display: flex;
}
.recite_wrapper .progress_content {
  position: relative;
  text-align: center;
  justify-content: center;
}
.recite_wrapper .progress_content .progress_text {
  font-size: 16px;
  color: #1A263F;
}
.recite_wrapper .progress_content .progress_before {
  position: absolute;
  left: -24px;
  top: 4px;
  content: ' ';
  width: 8px;
  height: 16px;
  background: #1A263F;
  display: block;
}
.recite_wrapper .audio_content {
  display: flex;
}
.recite_wrapper .audio_icon {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  margin-left: 20px;
}
.recite_wrapper .audio_text {
  vertical-align: middle;
  font-size: 16px;
  color: #032352;
}
.recite_wrapper .word_phonetic_symbol {
  font-size: 36px;
  color: #1A263F;
  font-weight: 300;
}
.recite_wrapper .word_text {
  font-size: 64px;
  color: #1A263F;
  line-height: 75px;
  font-weight: 500;
}
.recite_wrapper .word_long_text {
    font-size: 17px;
    line-height: 32px;
}
.recite_wrapper .word_meaning {
  font-size: 20px;
  color: #1A263F;
}
.recite_wrapper .word_meaning_wrapper {
  /* margin-top: 24px; */
}
.recite_wrapper .button_content_mid {
  margin: auto;
  margin-top: 5%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recite_wrapper .button_content_space_between {
  margin: auto;
  margin-top: 5%;
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.recite_wrapper .style_button {
  color: #40a9ff;
  background: #fff;
  border-color: #40a9ff;
}
.recite_wrapper .click-animating-node {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 0 #1890ff;
  box-shadow: 0 0 0 0 #1890ff;
  -webkit-box-shadow: 0 0 0 0 var(--antd-wave-shadow-color);
  box-shadow: 0 0 0 0 var(--antd-wave-shadow-color);
  -webkit-animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
  animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  content: '';
  pointer-events: none;
}
.recite_wrapper .back_content {
  position: absolute;
  right: 165px;
  bottom: 88px;
  justify-content: center;
}
.recite_wrapper .back_content .back_icon {
  width: 26px;
  height: 26px;
  margin-right: 15px;
}
.recite_wrapper .back_content .back_text {
  vertical-align: middle;
  font-size: 16px;
  color: #032352;
  margin-top: 20px;
}
.recite_wrapper .back_content .radio_text {
  vertical-align: middle;
  font-size: 16px;
  color: #032352;
}
.recite_wrapper .space_content {
  position: absolute;
  right: 0px;
  left: 0;
  bottom: 140px;
  display: flex;
  color: #1A263F;
  justify-content: center;
  align-items: center;
}
.recite_wrapper .space_icon {
  width: 187px;
  height: 54px;
}
