.writing-detail-container {
  font-family: PingFangSC-Regular, PingFang SC;
  width: 1110px;
  margin: 0 auto;
  padding-top: 80px;
  .writing-header {
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 24px;
    font-weight: 400;
    color: #102f5c;
    line-height: 24px;
    z-index: 1;
    font-size: 24px;
    .header-back {
      display: flex;
      align-items: center;
      .back-text {
        color: #032352;
        line-height: 22px;
        margin-left: 12px;
        font-size: 16px;
      }
    }
    .header-tips {
      display: flex;
      align-items: center;
      color: #032352;
      opacity: 0.6;
      .tips-text {
        line-height: 22px;
        margin-left: 4px;
        font-size: 16px;
      }
    }
  }
  .writing-detail {
    height: 781px;
    background-color: #fff;
    padding: 24px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    .detail-content {
      display: flex;
      height: 672px;
      .content-left {
        padding: 16px;
        flex: 1;
        background: rgba(24, 144, 255, 0.06);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        .left-fir {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.85);
          line-height: 22px;
          opacity: 0.4;
        }
        .left-sec {
          input {
            padding-left: 0;
            padding-right: 0;
          }
        }
        .left-thr {
          border-top: 1px solid rgba(23, 28, 75, 0.1);
          flex: 1;
          textarea {
            padding-left: 0;
            padding-right: 0;
            line-height: 27px;
            height: 100%;
          }
        }
      }
      .content-right {
        flex: 1;
        margin-left: 24px;
        display: flex;
        flex-direction: column;
        .content-tab {
          height: 672px;
          background: #fff;
          border-radius: 4px;
          .content-demand {
            height: 150px;
            overflow: scroll;
            padding: 0 16px;
            background: #f8f9fb;
            .demand-fir {
              display: flex;
              .demand-level {
                flex: 1;
              }
              .demand-num {
                flex: 1;
              }
            }
            .demand-title {
              margin-top: 8px;
              // display: -webkit-box;
              // overflow: hidden;
              // text-overflow: ellipsis;
              // -webkit-box-orient: vertical;
              // -webkit-line-clamp: 2;
            }
            .demand-desc {
              margin-top: 8px;
              overflow: scroll;
              height: 90px;
            }
          }
          .content-demand-commit {
            display: flex;
            background: #f8f9fb;
            padding: 16px;
            align-items: center;
            .commit-left {
              flex: 1;
              height: 150px;
              overflow: scroll;
              padding: 16px;
              background-color: #fff;
              border-radius: 8px;
            }
            .pp {
              margin-left: 24px;
              width: 120px;
              height: 120px;
            }
          }
          .commit-error {
            padding: 12px 16px;
            height: 412px;
            margin-top: 16px;
            background: #f8f9fb;
            border-radius: 4px;
            .fir-line {
              display: flex;
              .title {
                font-size: 16px;
                color: #000;
                font-weight: 500;
              }
              .count {
                display: flex;
                align-items: center;
                background: rgb(0, 118, 255, 0.2);
                border-radius: 12px;
                padding: 0 12px;
                height: 24px;
                color: #fff;
                margin-left: 8px;
              }
            }
            .error-content {
              margin: 12px 16px;
              height: 348px;
              overflow: scroll;
              .errorItem {
                display: flex;
                padding: 12px 16px;
                background-color: #fff;
                margin-bottom: 12px;
                border-radius: 8px;
                .errorItemCount {
                  display: inline-block;
                  width: 8px;
                  height: 8px;
                  background: #e10000;
                  border-radius: 50%;
                  margin-right: 8px;
                }
                .errorItemContent {
                  flex: 1;
                  font-size: 14px;
                  line-height: 22px;
                  color: rgba(0, 0, 0, 0.65);
                }
              }
            }
          }
          .content-error {
            height: 444px;
            margin-top: 16px;
            background: #f8f9fb;
            border-radius: 4px;
            padding: 16px;
          }
        }
      }
    }
    .content-control {
      display: flex;
      justify-content: flex-end;
      margin-top: 18px;
    }
  }
}

.ant-progress-circle {
  .ant-progress-text {
    color: #1890ff;
    font-size: 42px;
    &::after {
      content: "总评";
      position: absolute;
      font-size: 18px;
      left: 43px;
      bottom: -35px;
    }
  }
}
