.test_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.test_wrapper .background-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.test_wrapper .fix_header {
  position: fixed;
  height: 68px;
  width: 100%;
  display: flex;
  z-index: 10;
}
.test_wrapper .fix_header .header_left {
  display: flex;
  align-items: flex-end;
  flex: 1;
  padding-left: 164px;
  background: #fff;
  opacity: 0;
}
.test_wrapper .fix_header .header_left .main-img {
  width: 85px;
  height: 24px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.test_wrapper .fix_header .header_left .home-page {
  margin-left: 105px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  line-height: 68px;
  color: #647895;
  cursor: pointer;
}
.test_wrapper .fix_header .header_left .home-page a {
  color: #647895;
  font-size: 14px;
}
.test_wrapper .fix_header .header_left .about-us {
  margin-left: 67px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #647895;
  line-height: 68px;
  cursor: pointer;
}
.test_wrapper .fix_header .header_left .use-msg {
  margin-left: 39px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #647895;
  line-height: 68px;
  cursor: pointer;
}
.test_wrapper .fix_header .header_left .check {
  position: relative;
  color: #032352;
}
.test_wrapper .fix_header .header_left .check:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #032352;
  bottom: 0;
  left: 0;
}
.test_wrapper .choose_header {
  position: absolute;
  top: 28px;
  height: 60px;
  width: 100%;
  align-items: center;
}
.test_wrapper .choose_header .decoration {
  position: absolute;
  left: 165px;
  top: 33px;
  width: 24px;
  height: 24px;
  background: #FFCC43;
  border-radius: 12px;
}
.test_wrapper .choose_header .choose_left {
  position: absolute;
  left: 173px;
  top: 40px;
  color: #102F5C;
  font-size: 24px;
}
.test_wrapper .choose_header .choose_right {
  position: absolute;
  right: 165px;
  top: 40px;
  flex-direction: row-reverse;
  text-decoration: none;
  padding-right: 165;
  line-height: 24px;
  color: #102F5C;
  font-size: 16px;
}
.test_wrapper .choose_content {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 173px;
  padding-right: 173px;
  text-align: top;
  justify-content: start;
}
.test_wrapper .question_type {
  font-size: 24px;
  color: #1A263F;
}
.test_wrapper .word_text {
  font-size: 34px;
  color: #1A263F;
  line-height: 75px;
  font-weight: 500;
}
.test_wrapper .word_long_text {
  font-size: 17px;
  line-height: 32px;
}
.test_wrapper .radio_text {
  color: #1A263F;
  font-size: 24px;
  text-align: center;
}
.test_wrapper .radio_text_false {
  color: rgba(26, 38, 63, 0.3);
  font-size: 24px;
  text-align: center;
}
.test_wrapper .radio_cover {
  height: 56px;
  text-align: left;
  justify-content: center;
  display: inline-flex;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid rgba(251, 252, 251, 0);
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.test_wrapper .radio_cover_solution {
  height: 56px;
  text-align: left;
  justify-content: center;
  display: inline-flex;
  padding: 16px;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid #00D242;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.test_wrapper .rightOrNot-img {
  position: relative;
  right: -70px;
  bottom: 5px;
  width: 24px;
  height: 24px;
}
.test_wrapper .radio_content_space_between {
  width: 10px;
  justify-content: space-between;
}
.test_wrapper .progress_audio_content {
  position: absolute;
  left: 189px;
  bottom: 88px;
  display: flex;
}
.test_wrapper .progress_content {
  position: relative;
  text-align: center;
  justify-content: center;
}
.test_wrapper .progress_content .progress_text {
  font-size: 16px;
  color: #1A263F;
}
.test_wrapper .progress_content .progress_before {
  position: absolute;
  left: -24px;
  top: 4px;
  content: ' ';
  width: 8px;
  height: 16px;
  background: #1A263F;
  display: block;
}
.test_wrapper .audio_content {
  display: flex;
}
.test_wrapper .audio_icon {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  margin-left: 20px;
}
.test_wrapper .audio_text {
  vertical-align: middle;
  font-size: 16px;
  color: #032352;
}
.test_wrapper .word_meaning {
  font-size: 20px;
  color: #1A263F;
}
.test_wrapper .word_meaning_wrapper {
  margin-top: 24px;
}
.test_wrapper .button_content_mid {
  margin: auto;
  margin-top: 45%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test_wrapper .style_button {
  color: #40a9ff;
  background: #fff;
  border-color: #40a9ff;
}
.test_wrapper .click-animating-node {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 0 #1890ff;
  box-shadow: 0 0 0 0 #1890ff;
  -webkit-box-shadow: 0 0 0 0 var(--antd-wave-shadow-color);
  box-shadow: 0 0 0 0 var(--antd-wave-shadow-color);
  -webkit-animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
  animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  content: '';
  pointer-events: none;
}
.test_wrapper .back_content {
  position: absolute;
  right: 165px;
  bottom: 88px;
  justify-content: center;
  cursor: pointer;
}
.test_wrapper .back_content .back_icon {
  width: 26px;
  height: 26px;
  margin-right: 15px;
}
.test_wrapper .back_content .back_text {
  vertical-align: middle;
  font-size: 16px;
  color: #032352;
  margin-top: 20px;
}
.test_wrapper .back_content .radio_text {
  vertical-align: middle;
  font-size: 16px;
  color: #032352;
}
.test_wrapper .space_content {
  position: absolute;
  right: 0px;
  left: 0;
  bottom: 88px;
  display: flex;
  color: #1A263F;
  justify-content: center;
  align-items: center;
}
.test_wrapper .space_icon {
  width: 187px;
  height: 54px;
}
.ant-radio-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-color: #d9d9d9;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.ant-radio-inner::after {
  position: absolute;
  top: 13px;
  left: 13px;
  display: table;
  width: 12px;
  height: 12px;
  background-color: #FFA243;
  border-top: 0;
  border-left: 0;
  border-radius: 8px;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  content: ' ';
}
html {
  --antd-wave-shadow-color: #FFA243;
}
.ant-radio-checked::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #FFA243;
  border-radius: 50%;
  visibility: hidden;
  -webkit-animation: antRadioEffect 0.36s ease-in-out;
  animation: antRadioEffect 0.36s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  content: '';
}
.ant-radio-checked .ant-radio-inner {
  border-color: #FFA243;
}
.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
  border-color: #FFA243;
}
.radio_bingo .ant-radio-disabled .ant-radio-inner {
  background-color: #f5f5f5;
  border-color: #00D242 !important;
  cursor: not-allowed;
}
.radio_bingo .ant-radio-disabled .ant-radio-inner::after {
  background-color: #00D242;
}
